<!-- Agent Ticket Page -->
<div class="container">
  <div class="row">
    <div class="col-xs-1">
      <div class="bubble happy"></div>
    </div>
    <div class="col-xs-1">
      <div class="bubble neutral"></div>
    </div>
    <div class="col-xs-1">
      <div class="bubble sad"></div>
    </div>
    <div class="col-xs-1">
      <div class="cs-divider"></div>
    </div>
    <div class="col-xs-8">
      <%= render "ticketButtons" %>
      <br/>
      <div id="container_tickets">
        <div type="button" class="cs-ticket blog-main box text-center" id="ticket_<%= @ticket.id %>">
          <div class="panel-info">
            <div>
              <% if @ticket.score > 0.3 %>
                <div class="bubble happy"></div>
              <% end %>
              <% if @ticket.score >= 0 && @ticket.score <= 0.2  %>
                <div class="bubble neutral"></div>
              <% end %>
              <% if @ticket.score < 0  %>
                <div class="bubble sad"></div>
              <% end %>
              <div class="info">
                <p class="name"><span>from:</span> <%= @ticket.name %></p>
                <p class="email"><span>email:</span> <%= @ticket.email %></p>
                <p class="subject"><span>subject:</span> <%= @ticket.subject %></p>
                <p class="content"><span>content:</span> <%= @ticket.content %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cs-messages">
        <% @ticket.messages.each do |m| %>
          <div class="panel panel-info message">
            <%= m.content %>
          </div>
        <% end %>

        <%= form_for(@message, url: '/message', method: "post") do |f| %>
         <%= f.text_area :content %>
         <%= hidden_field_tag :ticket, @ticket.id %>
         <%= f.submit "Reply", :type => 'button', :class => 'cs-button-rounded pull-right' %>
       <% end %>
     </div>
    </div>
  </div>
</div>
